<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="__PUBLIC__/home/css/style.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/home/css/select.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/select-ui.min.js"></script>
    <script src="__ROOT__/library/layer/layer.js"></script>



    <script type="text/javascript">
        $(document).ready(function(e) {
            $(".select1").uedSelect({
                width : 345
            });
            $(".select2").uedSelect({
                width : 167
            });
            $(".select3").uedSelect({
                width : 100
            });
        });
    </script>
</head>

<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">产品经理</a></li>
        <li><a href="#">应用管理</a></li>
    </ul>
</div>

<div class="formbody">


    <div id="usual1" class="usual">

        <div class="itab">
            <ul>
                <li><a href="#tab1" class="selected">应用列表</a></li>
            </ul>
        </div>




        <div id="tab1" class="tabson">




            <div>
                <select id="selects" name="select" class="dfinput" style="opacity:1;">
                    <option value="0">全部</option>
                    <option value="1">未关联</option>
                    <option value="2">已关联</option>
                </select>
                <input class="dfinput" name="keyword" id="keyword" value="" placeholder="请输入关键字"/>
                <button  class="btn" type="submit" id="search">搜索</button>
            </div>

            <table class="tablelist">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>应用名称</th>
                    <th>备注</th>
                    <th>创建时间</th>
                    <th>创建人</th>
                    <th>已关联型号</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="wraps">

                <volist name="apks" id="v">
                    <tr>
                        <td>{$v.id}</td>
                        <td><a href="__APP__/Apk/apkinfo/id/{$v.id}">{$v.name}</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="__APP__/Apk/apkinfo/id/{$v.id}">查看应用信息</a></td>
                        <td>{$v.remark}</td>
                        <td>{$v.create_time}</td>
                        <td>{$v.nickname}</td>
                        <td>{$v.model_name}</td>
                        <td class="operating">
                            <a href="javascript:;" name='related' class="tablelink"  modurl="{:U('Apk/related',array('id'=>$v['id']))}">关联型号</a>
                        </td>
                    </tr>
                </volist>


                </tbody>
            </table>







        </div>


        <div id="tab2" class="tabson">





        </div>

    </div>

    <script type="text/javascript">
        $("#usual1 ul").idTabs();
    </script>

    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>

    <script type="text/javascript">
        //点击关联型号
        $(document).on('click',"a[name='related']",function(){
            /*var apkname=$(this).parent().parent().find("td").eq(1).children().find("a:first").text();*/
            var apkname=$(this).parent().parent().find("td").eq(1).find('a:first').text();
            var modurl = $(this).attr("modurl");
            layer.open({
                type: 2,
                title: '['+apkname+']===APK关联型号',
                maxmin: true,
                area: ['800px', '500px'],
                content:[modurl,'no']

            });
        });

        //下拉搜索
        $('#selects').change(function () {
            var selects=$('#selects').val();
            var keyword=$('#keyword').val();
            $.post("{:U('Apk/pull')}",{selects:selects,keyword:keyword},function (result) {
                $('#wraps').html(result);
            });
        });


        //搜索
        $(document).on('click',"#search",function(result){
            var selects=$('#selects').val();
            var keyword=$('#keyword').val();
            $.post("{:U('Apk/search')}",{selects:selects,keyword:keyword},function (result) {
                $('#wraps').html(result);
            });
        });
    </script>


    <script src="__ROOT__/library/bootstrap3.3.7/js/bootstrap.min.js"></script>

</div>


</body>

</html>
